<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.project.plannet.member.mapper.MemberMapper">
    <sql id="selectMemberSql">
        SELECT
            M_NO, SNS_ID, NICKNAME, STATUS_MSG, JOIN_DATE, WITHD_DATE
        FROM MEMBER
    </sql>

    <resultMap id="memberResultMap" type="Member">
        <id property="memberNo" column="M_NO"/>
        <result property="snsId" column="SNS_ID"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="statusMsg" column="STATUS_MSG"/>
        <result property="joinDate" column="JOIN_DATE"/>
        <result property="withdDate" column="WITHD_DATE"/>
    </resultMap>

    <select id="selectMemberBySnsId" parameterType="string" resultMap="memberResultMap">
        <include refid="selectMemberSql"/>
        WHERE SNS_ID = #{snsId}
    </select>

    <select id="selectMemberByMNo" parameterType="int" resultMap="memberResultMap">
        SELECT *
        FROM member m
        WHERE m.M_NO = #{memberNo};
    </select>

    <insert id="insertMemberByKakao" parameterType="Member">
        INSERT INTO MEMBER (SNS_ID) VALUES (#{snsId})
        <selectKey resultType="int" order="AFTER" keyProperty="memberNo" keyColumn="M_NO">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateMember" parameterType="Member">
        UPDATE MEMBER SET NICKNAME = #{nickname}, STATUS_MSG = #{statusMsg}
        WHERE M_NO = #{memberNo}
    </update>

</mapper>
